.vppopper__body--theme-clean {
  width: auto;
  background-color: #ffffff;
  color: #777777  ;
  padding: 1rem;
  display: inline-block;
  border-radius: 4px;
  position: absolute;
  font-size: 14px;
  border: 1px solid #ebeef5;
  z-index: 200000;
  font-family: sans-serif;
  -moz-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}

.vppopper__body--theme-clean[x-out-of-boundaries] {
  display: none;
}

.vppopper__body--theme-clean
.vppopper__arrow--theme-clean {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 8px;
}

.vppopper__body--theme-clean[x-placement^="top"] {
  margin-bottom: 5px;
}

.vppopper__body--theme-clean[x-placement^="top"]
.vppopper__arrow--theme-clean {
  border-width: 5px 5px 0 5px;
  border-color: #fafafa transparent transparent transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.vppopper__body--theme-clean[x-placement^="bottom"] {
  margin-top: 5px;
}

.vppopper__body--theme-clean[x-placement^="bottom"]
.vppopper__arrow--theme-clean {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #fafafa transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.vppopper__body--theme-clean[x-placement^="right"] {
  margin-left: 5px;
}
.vppopper__body--theme-clean[x-placement^="right"]
.vppopper__arrow--theme-clean {
  border-width: 5px 5px 5px 0;
  border-color: transparent #fafafa transparent transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.vppopper__body--theme-clean[x-placement^="left"] {
  margin-right: 5px;
}

.vppopper__body--theme-clean[x-placement^="left"]
.vppopper__arrow--theme-clean {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fafafa;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
