.vppopper__body--theme-dark {
  width: auto;
  background-color: #2c3e50;
  color: #c9fae9;
  padding: 1.5rem;
  display: inline-block;
  border-radius: 7px;
  position: absolute;
  font-size: 14px;
  border:  1px #000000 solid;
  z-index: 200000;
  font-family: sans-serif;
}

.vppopper__body--theme-dark
.vppopper__arrow--theme-dark {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

.vppopper__body--theme-dark[x-placement^="top"] {
  margin-bottom: 5px;
}

.vppopper__body--theme-dark[x-placement^="top"]
.vppopper__arrow--theme-dark {
  border-width: 5px 5px 0 5px;
  border-color: #2c3e50 transparent transparent transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.vppopper__body--theme-dark[x-placement^="bottom"] {
  margin-top: 5px;
}

.vppopper__body--theme-dark[x-placement^="bottom"]
.vppopper__arrow--theme-dark {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #2c3e50 transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.vppopper__body--theme-dark[x-placement^="right"] {
  margin-left: 5px;
}
.vppopper__body--theme-dark[x-placement^="right"]
.vppopper__arrow--theme-dark {
  border-width: 5px 5px 5px 0;
  border-color: transparent #2c3e50 transparent transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.vppopper__body--theme-dark[x-placement^="left"] {
  margin-right: 5px;
}

.vppopper__body--theme-dark[x-placement^="left"]
.vppopper__arrow--theme-dark {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #2c3e50;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}
